extends layout

block content
	.cp-banner
		.logo
			.name CAPCO
			.capco-horizontal-bar
			.capco-vertical-bar
			.capco-horizontal-bar-bottom
	.cp-container
		.panel.panel-default.cp-nav.cp-nav-left
			.panel-heading
				h3.panel-title
					| User Actions
				select.form-control(ng-model="errorCode")
					option(selected) Error Code
					each errorCode in response.errorCodes
						option=errorCode
			.list-group
				each userAction, index in response.userActions
					a.list-group-item(href='#/userAction/' + userAction ng-class='{active:mainCtrl.isActive("' + userAction + '")}')=userAction
						i.glyphicon.glyphicon-thumbs-up(style="float:right", ng-show="show('" + userAction + "')")
		.panel.panel-default.cp-nav.cp-nav-right
			.panel-heading
				h3.panel-title
					| Applications
			.panel-body
				ui-view