<div ui-view>
	<div class="row cp-components">
		<div ng-class='uaCtrl.getColSize()' ng-repeat='app in uaCtrl.impact'>
			<div class="panel panel-default">
			  <div class="panel-heading">
			  	<a ui-sref="useraction.application({application:app.application})">
				    <h3 class="panel-title">
				    	{{app.application}}
				    </h3>
			   	</a>
			  </div>
			  <div class="list-group">
			  	<a class="list-group-item" ng-repeat='item in app.components'>
			  		<div>{{item.component}} <span class="badge" style="float:right">{{item.sequenceNo}}</span>	</div>
			  		<div class="row">
			  			<div class="col-md-12">
			  					<small class="label label-info">{{item.action}}</small>
			  			</div>
			  		</div>
			  		
			  		<div class="row" ng-show="{{item.errorCodes}}">
			  			<div class="col-md-12">
			  					<small class="label label-danger">Error Codes: {{item.errorCodes}}</small>
			  			</div>
			  		</div>
			  		
			  	</a>
			  </div>
			</div>
		</div>
	</div>
</div>